$default-color: #52bab3;

// 默认样式 start
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: couriernew, courier, monospace;
}

small {
  font-size: 12px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #29B4F0;
}

a:hover {
  text-decoration: none;
  color: #0d8abf;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
button {
  cursor: pointer;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font: 14px / 1.42857 "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif
}

body {
  padding-top: 45px;
  background-color: #eee;
  color: #2c3e50;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// 默认样式 end

.body-no-padding {
  padding-top: 0;
}

#app {
  // font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;
}

/* ------------ 公共样式 start ------------ */

// 清除浮动
.clearfix::after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  content: " ";
}

// 按钮样式
.btn {
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    outline: none !important;
    color: #fff;
    box-shadow: none;
  }
}

.btn-default {
  background-color: $default-color;

  &:hover {
    opacity: 0.75;
  }
}

.container {
  max-width: 1100px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 20px;
}

.container {
  width: 100%;
}

.form-control {
  border-radius: 3px;
  padding: 6px 8px;
  border: 1px solid #d1d5da;
  min-height: 35px;
  vertical-align: middle;
  color: #24292e;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  outline: none;
  box-shadow: 0px 1px 2px rgba(27, 31, 35, 0.075);
  transition: border-color box-shadow 0.3s ease;

  &:focus {
    border-color: #29B4F0;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075), 0 0 0 0.2em rgba(3, 102, 214, 0.3);
  }
}

.input-block {
  display: block;
  width: 100%;
}

.h100p {
  height: 100%;
}

.error {
  color: red;
  font-size: 0.857rem;
  margin: 0.21rem 0;
  min-height: 1.5rem;
}

/* ------------ 公共样式 end ------------ */

// ------------ 设置markdown内容里的样式 start ------------
.markdowm-body {
  border: 1px solid #ccc;
  border-radius: 0.4em;
  height: 85%;
  padding: 1.2em;

  blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
  }

  h1,
  h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
  }
}

// ------------ 设置markdown内容里的样式 end ------------
